<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>
</head>
<link rel="stylesheet" href="css/style.css">
<body>
    <header class="mainheader">
        <nav class="mainheader_nav">
            <ul class="mainheader_itemlist">
                <li class="mainheader_item"><a href="/">shop</a> </li>
                <li class="mainheader_item"><a class="active" href="/add-product">add product</a> </li>
            </ul>
        </nav>
    </header>
    <Main>
        <form class="product-form" action="/add-product" method="post">
            <div class="form-control">
                <label for="title"></label>
            <input type="text" id ="title" name="title"/>
            </div>
            <button type="submit">Add product</button>
        </form>
    </Main>
</body>
</html>